@{
	Layout = "_Layout";
}

@using Factory.Models;

<h2>WARNING</h2>
<h4>You are about to remove this Machine!</h4>

@using (Html.BeginForm())
{
	<p>Remove: @Model.MachineName</p>
	<input type="submit" label="Confirm">
}

<p>@Html.ActionLink("Return Home", "Index", "Home")</p>