@{
	Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>WARNING! You are about to delete this Engineer!</h2>

@using (Html.BeginForm())
{
	<p>Remove: @Model.EngineerName</p>
	<input type="submit" label="Confirm">
}

<p>@Html.ActionLink("Return Home", "Index", "Home")</p>